body {
    background-color: wheat;
    color: blue;
}
h1 {
    color: red;
}
p {
    color: black;
}

#barraMenu {
    background-color: yellow;
    padding: 20px;
    border: 10px;
    text-align: center;
}
#inicio {
    padding: 200px;
    border-color: white;
    background-color: azure;
    text-align: center;

}

.primerparrafo {
    color: brown;
    font-size: 30px;
}

#primertitulo {
    color: violet;
}

.segundotitulo {
    color: cornflowerblue;
}